
.login-form {
  height: 700px;
  width: 400px;
  background-color: aliceblue;
  padding: 30px;

  &__title {
    text-align: center;
    margin-bottom: 20px;
    color: blueviolet;
    text-transform: uppercase;
  }

  &__field {
    text-align: center;
    margin-bottom: 15px;
  }

  &__button {
    background-color: coral;
  }
}
